.site-cart {
  padding-top: 6rem;
  min-height: 100vh;
}

.site-cart .container {
  align-items: start;
  flex-wrap: wrap;
}

.cart-list__container,
.order-sumary {
  align-items: start;
  justify-content: start;
  height: 30rem;
  padding: 1rem;
}

.cart-list__container {
  width: 100%;
}

.cart-list__container .cart-list__text {
  justify-content: space-between;
}

.cart-list__content {
  align-items: start;
  width: 100%;
  height: auto;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.order-sumary {
  width: 100%;
  height: 15rem;
  justify-content: space-between;
  background-color: var(--secondary-color);
}

.cart-list__text {
  justify-content: start;
  width: 100%;
  height: 2rem;
  border-bottom: 1px solid var(--terciary-color);
}

.cart-list__text > h2 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 0;
}

.cart-list__text > h3 {
  font-size: 1rem;
  line-height: 0;
}

.cart-list__header {
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
  color: var(--terciary-color);
  font-weight: 700;
  filter: contrast(20%);
}

.cart-list {
  width: 100%;
  text-align: center;
}

th,
td {
  padding-block: 1rem;
  border-bottom: 1px solid var(--secondary-color);
}

td {
  padding-inline: 1rem;
}

.product-img {
  justify-content: start;
  gap: 1rem;
}

.product-img > span {
  width: 15ch;
  font-weight: 600;
  text-align: start;
}

.product-img > img {
  width: 6rem;
}

.empty-animation {
  width: 100%;
  height: 25rem;
  gap: 1rem;
}

.empty-animation img {
  width: 10rem;
  height: 10rem;
}

.empty-animation p {
  text-transform: capitalize;
}

.total-price__container {
  width: 100%;
  align-items: start;
}

.cart-price {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.cart-price span {
  font-size: 1rem;
}

.cart-price h4 {
  font-size: 1rem;
}

.total-price__container .action-btn {
  width: 100%;
}

.close {
  cursor: pointer;
}

@media (width >= 768px) {
  .cart-list__content {
    overflow-x: auto;
  }
}

@media (width >= 1268px) {
  .cart-list__container {
    width: 50rem;
  }

  .order-sumary {
    width: 25rem;
    height: 30rem;
  }
}
